%ul_.messages__chat__user
 %li.messages__chat__user__name ooooo
 %li.messages__chat__user__time 2020/11/10
%p kakaka
%ul_.messages__chat__user
 %li.messages__chat__user__name name3
 %li.messages__chat__user__time 2020/20/20 :20
%p kokoko
