.head
 .group
  %h3.group__name 
   = current_user.name
  %ul.group__icon
   %li.group__icon__edit
    = link_to new_group_path do
     %i.fa.fa-edit
   %li.group__icon__cog
    = link_to edit_user_path(current_user) do
     %i.fa.fa-cog
.body
 %ul.lists
  %li.name name
  %li.say aaaaa
 %ul.lists
  %li.name name2
  %li.say iiiiiiiiiiii
