$font-white: #ffffff;
$light-blue: #38aef0;
$deep-parple: #253141;
$parple: #2f3e51;
$line-color: #eeeeee;
$light-grey: #dddddd;
$font-black: #333333;
$font-grey: #999999;
$grey: #aaaaaa;
$message-color: #434a54;


